.player {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    span{
        font-size: 14px;
    }
    background-color: rgb(100, 100, 100);
    img{
        margin-top: 16px;
        width:35px;
        height: 35px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-aktive{
    background-color: orange !important;
}