body{
    margin:0;
}

.mat-mdc-card-title, .mat-mdc-card-subtitle {
    display: block;
    margin: 0;
    padding:20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
